/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Vidéo en arrière-plan */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Header */
header {
    background-color: #212121;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header h1 {
    color: #FFAA00;
    font-size: 2rem;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #FFAA00;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #FFAA00;
}

/* Main Content */
.container {
    position: relative;
    text-align: center;
    z-index: 2;
}






/* Styles pour le mode clair */
body.light-theme {
    background-color: #fff;
    color: #121212;
}

body.light-theme header {
    background-color: #FFFAF0;
}

body.light-theme .sun {
    background-color: #FFD700;
}

body.light-theme .planet {
    background-color: #FFAA00;
}
